.torrent-list{
    width:100%;
    margin-top: 10px;
}

.torrent{
    width:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    margin: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

.title{
    grid-column: 1;
}

.progressbar{
    grid-column: 2;
    height: 30px;
    border-radius: 10px;
    background: #bcb7ad;
}
.progressbar-fill{
    height: 100%;
    width: 50%;
    border-radius: 10px;
    background-color: #cc2e9a;
    transition: width 0.5s ease-out;
}
.progress-label{
    grid-column: 3;
}