.torrent {
    width: 98%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
    margin: 1vw;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    border-radius: 10px;
}

.title {
    grid-column: 1;
    padding-left: 10px;
}

.progressbar {
    grid-column: 2;
    height: 30px;
    border-radius: 10px;
    background: #bcb7ad;
}

.progressbar-fill {
    height: 100%;
    width: 50%;
    border-radius: 10px;
    transition: width 0.5s ease-out;
}

.progress-label {
    grid-column: 3;
}