.torrent-client {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(25px, auto);
}

.navbar {
    grid-column: 1 / 4;
    grid-row: 1;
}

.torrent-list {
    grid-column: 1 / 4;
    /* grid-row: 2 / 3; */
}