.torrent-file {
    height: 30px;
    width: 99%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0.5vw;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    border-radius: 10px;
}

.title {
    grid-column: 1;
    padding-left: 10px;
}

.progressbar {
    grid-column: 2;
    height: 20px;
    border-radius: 10px;
    background: #bcb7ad;
}

.progressbar-fill {
    height: 100%;
    width: 0%;
    border-radius: 10px;
    transition: width 0.5s ease-out;
}

.progress-label {
    grid-column: 3;
}